<ion-header no-border>
    <ion-toolbar>
        <ion-title>
            Nuevo Post
        </ion-title>

        <ion-buttons slot="end" color="favorite">
            <ion-button (click)="crearPost()" color="favorite" [disabled]="post.mensaje.length < 1 || loadingGeoLocalization">
                Compartir
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row class="ion-justify-content-center">
        <ion-col size-lg="6" size-md="12" size-sm="12" size-xs="12" style="padding-top: 50px;">
            <ion-list>

                <ion-item>
                    <ion-label position="floating">Mensaje</ion-label>
                    <ion-textarea [(ngModel)]="post.mensaje"></ion-textarea>
                </ion-item>

                <ion-list>
                    <ion-item>
                        <ion-label>Posición actual</ion-label>
                        <ion-toggle [(ngModel)]="post.postPosition" slot="end" (ionChange)="geoLocation()" color="favorite"></ion-toggle>
                        <ion-spinner name="lines-small" *ngIf="loadingGeoLocalization"></ion-spinner>
                    </ion-item>
                </ion-list>
            </ion-list>
        </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="6">
            <ion-button expand="full" shape="round" color="favorite" (click)="cameraSetting()" (click)="library()">
                <ion-icon slot="start" name="camera"></ion-icon>
                Cámara
            </ion-button>
        </ion-col>
        <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="6">
            <ion-button expand="full" shape="round" color="favorite">
                <ion-icon slot="start" name="images"></ion-icon>
                Galería
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="3" *ngFor="let image of tempImages">
            <ion-card>
                <img [src]="image | imageSanatizer">
            </ion-card>
        </ion-col>
    </ion-row>


</ion-content>